.black-nav {
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
}

.white-nav {
  background: antiquewhite;
  width: 80%;
  display: block;
  padding: 20px;
  margin: auto;
color: black;
  font-size: 50px;
  text-align: center;
}

.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}

div {
  box-sizing : border-box
}

.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}
